<header>
  <div class="container=fluid">
    <div class="row">
      <div id="map3"></div>
      <div class="venue_address_header">
        <address>1234 Awesome St. Denver, CO 80202</address>
      </div>
    </div>
  </div>
</header>
<section id="venue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 full_width_div">
        <div class="venue_details">
          <div class="image-container">
            <div class="overlay">
              <h2>Denver Beer Company</h2>
            </div>
            <img class="img-responsive venue_highlight_img" src="http://kristawatzelphotography.com/wp-content/uploads/Monica-and-Nick-Engagement_0274-copy.jpg" />
          </div>
          <div class="col-sm-12 venue_info_header">
            <div class="col-md-3">
              <img class="img-responsive venue_logo" src="http://denverbeerco.com/wp-content/uploads/2014/07/logo_final3.png" />
            </div>
            <div class="col-md-6">
              <h2 class="venue_name">Denver Beer Co.</h2>
              <h3 class="venue_city_state">Denver, CO United States</h3>
              <p class="venue_type">Micro Brewery</p>
            </div>
            <div class="col-md-3">
              <buton class="btn btn-danger btn-lg btn-venue-phone pull-right">Drunk Call</button>
            </div>
          </div>
          <div class="venue_body_details">
            <div class="col-md-8">
              <p>Denver Beer Co. was born in our garages with a few batches of homebrew and a love for the craft of brewing. Serving only premium artisan ales and lagers, we utilize fresh ingredients and embrace both innovative and old world styles of beer. Similar to a farmer’s table, our beer selections change with the seasons. By brewing in small batches, we can ensure that a few old favorites are always on tap, but new goodies greet visitors each month.</p>
              <p class="second_paragraph">Our brewery is founded on passion for high quality, flavorfully crafted beer and the belief that the best pints are those shared with good company. Drawing inspiration from beer gardens of Bavaria, we designed Denver Beer Co. to be a place where new and old friends can share a table and pint out of doors.</p>

              <div class="venue_carousel text-center">
                <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="2000" id="fruitscarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="http://lorempixel.com/262/262/" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="http://lorempixel.com/262/262/" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="http://lorempixel.com/262/262/" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="http://lorempixel.com/262/262/" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="http://lorempixel.com/262/262/" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="http://lorempixel.com/262/262/" class="img-responsive"></a></div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#fruitscarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#fruitscarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <aside>
                <div class="venue_social_links">
                  <div class="col-md-3">
                    <a href="#"><img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" /></a>
                  </div>
                  <div class="col-md-3">
                    <a href="#"><img class="img-responsive" src="http://www.free-icons-download.net/images/twitter-logo-icon-1159.png" /></a>
                  </div>
                  <div class="col-md-3">
                    <a href="#"><img class="img-responsive" src="https://cdn4.iconfinder.com/data/icons/social-papercut/512/instagram.png" /></a>
                  </div>
                  <div class="col-md-3">
                    <a href="#"><img class="img-responsive" src="https://www.ardormediafactory.com/wp-content/uploads/2015/07/links_icon.png" /></a>
                  </div>
                </div>

                <div class="people_like_container">
                  <h2 class="text-center venue_likes">3,657</h2>
                  <h2 class="text-center venue_likes_subtitle">people like this brewery</h2>
                  <button class="btn btn-warning venue_like_btn center-block">Like This Brewery</button>
                  <div class="people_that_like">
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="venue_comments">
                <div class="col-md-12" id="logout">
                    <div class="page-header">
                        <h3 class="reviews">Beer us some feedback</h3>
                        <div class="logout">
                            <a href="/results" class="btn btn-danger btn-lg btn-venue-phone text-uppercase" type="button">Back to results</a>
                        </div>
                    </div>
                    <div class="comment-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Comments</h4></a></li>
                            <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add comment</h4></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="comments-logout">
                                <ul class="media-list">
                                  <li class="media">
                                    <a class="pull-left" href="#">
                                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews">Marco Polo </h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="mm">09</li>
                                            <li class="dd">22</li>
                                            <li class="aaaa">2014</li>
                                          </ul>
                                          <p class="media-comment">
                                            Great beer! try the 'El Guapo'.
                                          </p>
                                          <a class="btn btn-info  text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                          <a class="btn btn-warning text-uppercase" data-toggle="collapse" href="#replyOne"><span class="glyphicon glyphicon-comment"></span> 2 comments</a>
                                      </div>
                                    </div>
                                    <div class="collapse" id="replyOne">
                                        <ul class="media-list">
                                            <li class="media media-replied">
                                                <a class="pull-left" href="#">
                                                  <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/128.jpg" alt="profile">
                                                </a>
                                                <div class="media-body">
                                                  <div class="well well-lg">
                                                      <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> The Hipster</h4>
                                                      <ul class="media-date text-uppercase reviews list-inline">
                                                        <li class="mm">09</li>
                                                        <li class="dd">22</li>
                                                        <li class="aaaa">2014</li>
                                                      </ul>
                                                      <p class="media-comment">
                                                        Had it, it sucks!
                                                      </p>
                                                      <a class="btn btn-info text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                                  </div>
                                                </div>
                                            </li>
                                            <li class="media media-replied" id="replied">
                                                <a class="pull-left" href="#">
                                                  <img class="media-object img-circle" src="https://pbs.twimg.com/profile_images/442656111636668417/Q_9oP8iZ.jpeg" alt="profile">
                                                </a>
                                                <div class="media-body">
                                                  <div class="well well-lg">
                                                      <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> Mary</h4></h4>
                                                      <ul class="media-date text-uppercase reviews list-inline">
                                                        <li class="mm">09</li>
                                                        <li class="dd">22</li>
                                                        <li class="aaaa">2014</li>
                                                      </ul>
                                                      <p class="media-comment">
                                                        Thank you Guys! really liked it.
                                                      </p>
                                                      <a class="btn btn-info text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                                  </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                  </li>
                                  <li class="media">
                                    <a class="pull-left" href="#">
                                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/128.jpg" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews">John Doe</h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="mm">09</li>
                                            <li class="dd">22</li>
                                            <li class="aaaa">2014</li>
                                          </ul>
                                          <p class="media-comment">
                                            I love all the beers! Anyone have a good recommendation?
                                          </p>
                                          <a class="btn btn-info text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="media">
                                    <a class="pull-left" href="#">
                                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/lady_katherine/128.jpg" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews">Christine B.</h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="mm">09</li>
                                            <li class="dd">22</li>
                                            <li class="aaaa">2014</li>
                                          </ul>
                                          <p class="media-comment">
                                            Luv that Princess Yum Yum.
                                          </p>
                                          <a class="btn btn-info text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                          <a class="btn btn-warning text-uppercase" data-toggle="collapse" href="#replyTwo"><span class="glyphicon glyphicon-comment"></span> 1 comment</a>
                                      </div>
                                    </div>
                                    <div class="collapse" id="replyTwo">
                                        <ul class="media-list">
                                            <li class="media media-replied">
                                                <a class="pull-left" href="#">
                                                  <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg" alt="profile">
                                                </a>
                                                <div class="media-body">
                                                  <div class="well well-lg">
                                                      <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> Lizz</h4>
                                                      <ul class="media-date text-uppercase reviews list-inline">
                                                        <li class="mm">09</li>
                                                        <li class="dd">22</li>
                                                        <li class="aaaa">2014</li>
                                                      </ul>
                                                      <p class="media-comment">
                                                        Classy!
                                                      </p>
                                                      <a class="btn btn-info text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                                  </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                  </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="add-comment">
                                <form action="#" method="post" class="form-horizontal" id="commentForm" role="form">
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">Comment</label>
                                        <div class="col-sm-10">
                                          <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-success text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                <div class="col-sm-10 col-sm-offset-1" id="login">
                    <div class="page-header">
                        <h3 class="reviews">Leave your comment</h3>
                        <div class="logout">
                            <button class="btn btn-default btn-circle text-uppercase" type="button" onclick="$('#login').hide(); $('#logout').show()">
                                <span class="glyphicon glyphicon-off"></span> Login
                            </button>
                        </div>
                    </div>
                    <div class="comment-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#comments-login" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Comments</h4></a></li>
                            <li><a href="#add-comment-disabled" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add comment</h4></a></li>
                            <li><a href="#new-account" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Create an account</h4></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="comments-login">
                                <ul class="media-list">
                                  <li class="media">
                                    <a class="pull-left" href="#">
                                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews">Marco</h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="dd">22</li>
                                            <li class="mm">09</li>
                                            <li class="aaaa">2014</li>
                                          </ul>
                                          <p class="media-comment">
                                            Great snippet! Thanks for sharing.
                                          </p>
                                          <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                          <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyThree"><span class="glyphicon glyphicon-comment"></span> 2 comments</a>
                                      </div>
                                    </div>
                                    <div class="collapse" id="replyThree">
                                        <ul class="media-list">
                                            <li class="media media-replied">
                                                <a class="pull-left" href="#">
                                                  <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/128.jpg" alt="profile">
                                                </a>
                                                <div class="media-body">
                                                  <div class="well well-lg">
                                                      <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> The Hipster</h4>
                                                      <ul class="media-date text-uppercase reviews list-inline">
                                                        <li class="dd">22</li>
                                                        <li class="mm">09</li>
                                                        <li class="aaaa">2014</li>
                                                      </ul>
                                                      <p class="media-comment">
                                                        Nice job Maria.
                                                      </p>
                                                      <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                                  </div>
                                                </div>
                                            </li>
                                            <li class="media media-replied" id="replied">
                                                <a class="pull-left" href="#">
                                                  <img class="media-object img-circle" src="https://pbs.twimg.com/profile_images/442656111636668417/Q_9oP8iZ.jpeg" alt="profile">
                                                </a>
                                                <div class="media-body">
                                                  <div class="well well-lg">
                                                      <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> Mary</h4></h4>
                                                      <ul class="media-date text-uppercase reviews list-inline">
                                                        <li class="dd">22</li>
                                                        <li class="mm">09</li>
                                                        <li class="aaaa">2014</li>
                                                      </ul>
                                                      <p class="media-comment">
                                                        Thank you Guys!
                                                      </p>
                                                      <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                                  </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                  </li>
                                  <li class="media">
                                    <a class="pull-left" href="#">
                                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/128.jpg" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews">Nico</h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="dd">22</li>
                                            <li class="mm">09</li>
                                            <li class="aaaa">2014</li>
                                          </ul>
                                          <p class="media-comment">
                                            I'm looking for that. Thanks!
                                          </p>
                                          <div class="embed-responsive embed-responsive-16by9">
                                              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/80lNjkcp6gI" allowfullscreen></iframe>
                                          </div>
                                          <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="media">
                                    <a class="pull-left" href="#">
                                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/lady_katherine/128.jpg" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews">Kriztine</h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="dd">22</li>
                                            <li class="mm">09</li>
                                            <li class="aaaa">2014</li>
                                          </ul>
                                          <p class="media-comment">
                                            Yehhhh... Thanks for sharing.
                                          </p>
                                          <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                          <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyFour"><span class="glyphicon glyphicon-comment"></span> 1 comment</a>
                                      </div>
                                    </div>
                                    <div class="collapse" id="replyFour">
                                        <ul class="media-list">
                                            <li class="media media-replied">
                                                <a class="pull-left" href="#">
                                                  <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg" alt="profile">
                                                </a>
                                                <div class="media-body">
                                                  <div class="well well-lg">
                                                      <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> Lizz</h4>
                                                      <ul class="media-date text-uppercase reviews list-inline">
                                                        <li class="dd">22</li>
                                                        <li class="mm">09</li>
                                                        <li class="aaaa">2014</li>
                                                      </ul>
                                                      <p class="media-comment">
                                                        Classy!
                                                      </p>
                                                      <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                                  </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                  </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="add-comment-disabled">
                                <div class="alert alert-info alert-dismissible" role="alert">
                                  <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                  </button>
                                  <strong>Hey!</strong> If you already have an account <a href="#" class="alert-link">Login</a> now to make the comments you want. If you do not have an account yet you're welcome to <a href="#" class="alert-link"> create an account.</a>
                                </div>
                                <form action="#" method="post" class="form-horizontal" id="commentForm" role="form">
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">Comment</label>
                                        <div class="col-sm-10">
                                          <textarea class="form-control" name="addComment" id="addComment" rows="5" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="uploadMedia" class="col-sm-2 control-label">Upload media</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                              <div class="input-group-addon">http://</div>
                                              <input type="text" class="form-control" name="uploadMedia" id="uploadMedia" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-success btn-circle text-uppercase disabled" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="new-account">
                                <form action="#" method="post" class="form-horizontal" id="commentForm" role="form">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" name="name" id="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                          <input type="email" class="form-control" name="email" id="email" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-2 control-label">Password</label>
                                        <div class="col-sm-10">
                                          <input type="password" class="form-control" name="password" id="password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label for="agreeTerms" class="col-sm-offset-2 col-sm-10">
                                                <input type="checkbox" name="agreeTerms" id="agreeTerms"> I agree all <a href="#">Terms & Conditions</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-primary btn-circle text-uppercase" type="submit" id="submit">Create an account</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script src="<%= url('/javascript/js/venue_map.js') %>"></script>
